<div class="inaRow">
    <header class="cabeca">
        <i class="fa-solid fa-image caixinha"></i>
        <div class="headFig">
            <i class="fa-solid fa-bars"></i>
            <p class="head">Escolas Pelo Mundo</p>
            <p class="subtitulo">Internacionalizando sonhos</p>
        </div>
    </header>
    <div class="headerLinks">
        <div class="cabLinks" style="font-weight:bold">
            <a href="" class="linkAccess">Link de acesso 1</a>
            <a href="" class="linkAccess">Link de acesso 2</a>
            <a href="" class="linkAccess">Link de acesso 3</a>
            <a href="" class="linkAccess">Link de acesso 4</a>
        </div>
        <div class="userPass">
            <input type="text" class="userName" placeholder="O que você procura?" />
            <i class="fa-solid fa-magnifying-glass lupa"></i>
        </div>
    </div>
    <div class="icons">
        <i class="fa-solid fa-ellipsis-vertical elipse"></i>
        <i class="fa-solid fa-magnifying-glass glass"></i>
    </div>
</div>