<div class="page" *ngIf="taNaRota()">
    <!-- <div class="inaRow">
        <header class="cabeca">
            <i class="fa-solid fa-image caixinha"></i>
            <div class="headFig">
                <i class="fa-solid fa-bars"></i>
                <p class="head">Escolas Pelo Mundo</p>
                <p class="subtitulo">Internacionalizando sonhos</p>
            </div>
        </header>
        <div class="headerLinks">
            <div class="cabLinks" style="font-weight:bold">
                <a href="" class="linkAccess">Link de acesso 1</a>
                <a href="" class="linkAccess">Link de acesso 2</a>
                <a href="" class="linkAccess">Link de acesso 3</a>
                <a href="" class="linkAccess">Link de acesso 4</a>
            </div>
            <div class="userPass">
                <input type="search" class="userName" placeholder="O que você procura?" />
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </div>
        </div>
        <div class="icons">
            <i class="fa-solid fa-ellipsis-vertical elipse"></i>
            <i class="fa-solid fa-magnifying-glass glass"></i>
        </div>
    </div> -->

    <h1 class="loginHeader">Login do Usuário</h1>

    <div class="campos">
        <div class="imagem">
            <img src="../../../../assets/icon.png">
        </div>
        <div class="caixa">
            <p class="titleForm">Identifique-se com:</p>
            <form class="userInputs" [formGroup]="formLogin" (ngSubmit)="signIn()" >
                <p class="userTitle">Nome de usuário</p>
                <div class="userFig">
                    <i class="fa-sharp fa-solid fa-user passKey"></i>
                    <input type="text" class="userName" placeholder="Digite o seu nome de usuário"  formControlName="nome" />
                </div>
                <p class="userTitle">Senha</p>
                <div userPass>
                    <i class="fa-sharp fa-solid fa-key passKey"></i>
                    <input type="password" class="userName" placeholder="Digita a sua senha atual" formControlName="senha" />
                    <i class="fa-solid fa-eye passEye"></i>
                </div>
                <a href="" class="linkForget">Esqueci minha senha</a>
            </form>

            <div class="botoes">
                <button class="userButtonCad" (click)="goCadastro()" >Cadastre-se</button>
                <button type="submit" class="userButtonCont" (click)="signIn()" >Continuar</button>
            </div>
        </div>
    </div>
    
    <!-- <footer class="rodape">
        Texto destinado a exibição das informações relacionadas à 
        <span style="font-weight:bold">licenças de uso.</span>
    </footer> -->
</div>
