input::-webkit-input-placeholder{
    padding-left: 100px;
}
input:-ms-input-placeholder{
    padding-left: 100px;
}
input::-moz-placeholder{
    padding-left: 100px;
}
input:-moz-placeholder{
    padding-left: 100px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    
}

.page{
    overflow-x: hidden;
}

.loginHeader{
    width: 231px;
    height: 40px;

    font-family: 'Rawline', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29.03px;
    line-height: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Pure/.pure-100 */

    color: #000000;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.caixa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 20px;
    gap: 30px;
}

.titleForm{
    display: flex;
    justify-content: center;
    font-family: 'Rawline';
    font-style: normal;
    font-weight: 700;
}

.userInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

.userName{
    box-sizing: border-box;
    background: #FFFFFF;

    padding-left: 30px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* padding: 0px 5px 0px 16px; */
    gap: 6px;

    width: 260px;
    height: 32px;
    /* Gray/.gray-40

    888888
    */
    border: 1px solid #888888;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.userTitle{
    width: 116px;
    height: 19px;

    font-family: 'Rawline';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* Pure/.pure-100 */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.userButtonCad{
    padding: 10px;
    color: #1351B4;
    background:white;
    border: 1px solid #1351B4;
    border-radius: 20px;
    width: 100px;
}

.userButtonCad:hover{
    cursor: pointer;
}


.userButtonCont{
    padding: 10px;
    background:#1351B4;
    border: 1px solid #1351B4;
    color: white;
    border-radius: 20px;
    width: 100px;
}

.userButtonCont:hover{
    cursor: pointer;
}

.linkForget{
    margin-top: 7px;
    font-family: 'Rawline', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #1351B4;
    font-size: 14px;
    line-height: 19px;
    
}

.linkForget:hover{
    color: purple;
}

.campos{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagem{
    box-sizing: border-box;
    width: 588px;
    height: 465px;

/* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 34px;

    border: 1px dashed #333333;
}

.rodape{
    position: relative;
    min-height: 100%;
    height: 20px;
    text-align: center;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Rawline';
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.userFig i{
    position: relative;
    text-align: center;
    font-size: 12px;
    min-width: 50px;
    top: 24px;
    left: -12px;
    color :#888888;
}

.headFig{
    display: flex;
    flex-direction: column;
}

.headFig i{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-size: 20px;
    min-width: 50px;
    top: 34px;
    left: 0px;
    color :#1351B4;
}

.userPass{
    width: 100%;
    padding-top: 20px;
    padding-left: 160px;
}



.passKey{
    position: relative;
    top: 24px;
    left: 8px;
    color:  #888888;
    font-size: 12px;
}

.passEye{
    position: relative;
    top: -24px;
    left: 235px;
    color:  #1351B4;
    font-size: 15px;
}

.head{
    font-family: 'Rawline', sans-serif;
    color:  #1351B4;
    padding-left: 48px;
    font-size: 24px;
}

.subtitulo{
    font-family: 'Rawline', sans-serif;
    color:  #555555;
    padding-left: 48px;
    font-size: 12px;
    position: absolute;
    top: 40px;
}

.cabeca{
    position: relative;
    width: 100%;
    margin: 0 auto;
    font-family: 'Rawline';
}

.caixinha{
    box-sizing: border-box;
    width: 72px;
    height: 24px;


    position: absolute;
    width: 72px;
    height: 24px;
    left: 8px;
    top: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 34px;

    border: 1px dashed #333333;
}

.inaRow{
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.elipse{
    padding: 15px;
    width: 100%;
    border-right:1px solid #888888;
}

.glass{
    padding: 15px;
}
.icons{
    display: flex;
    justify-content: center;
}

.cabLinks{
    display: flex;
    flex-wrap: nowrap;
}

.esquerdaCab{
    display: flex;
    flex-wrap: wrap;
}

.linkAccess{
    margin-top: 12px;
    font-family: 'Rawline', sans-serif;
    font-weight: 400px;
    color: #1351B4;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    padding: 6px;
}


@media (max-width: 600px)
{
    .imagem{
        display: none;
    }
    .cabLinks{
        display: none;
    }
    .userPass{
        display: none;
    }
}

.headerLinks{
    display: flex;
    flex-direction: column;
}

.lupa{
    position: relative;
    top: -24px;
    left: 230px;
    color:  #1351B4;
    font-size: 15px;
}


@media (min-width: 601px)
{
    .icons{
        display: none;
    }
}
